@import url('https://fonts.googleapis.com/css?family=Raleway');

.font {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.setup-box {
    font-family: 'Raleway', sans-serif;

}

.frame-userbar {
    background: #333745;
    color: #08D0B8;
    text-align: center;
}